services:
  pgadmin:
    image: dpage/pgadmin4
    env_file:
      - .env.pgadmin
    ports:
      - 15432:80
    volumes:
      - ./config/pgadmin/server.json:/pgadmin4/servers.json
  db:
    image: postgres
    restart: always
    ports:
      - 5432:5432
    env_file:
      - .env.db
    volumes:
      - pgdata:/var/lib/postgresql

volumes:
  pgdata:
